@import url('https://fonts.googleapis.com/css2?family=Nunito+Sansdisplay=swap');

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #36BF76;
    border-radius: 30px;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}
h3{
    cursor: pointer;
}
.nurito{
    font-family: 'Nunito Sans', sans-serif;
}
.status_bar{
    border-radius: 14.75px;
    width: 50%;
    height: 3rem;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.worker{
    color: #4787F3;
}
.Done_c{
    border: 1px solid #36BF76;
}
.Progress_c{
    border: 1px solid #FFB82E;
}
.Review_c{
    border: 1px solid #4F8BFF;
}
.Reject_c{
    border: 1px solid #F93232;
}

.Done{
    background: #36BF76;
}
.Progress{
    background: #FFB82E;
}
.Review{
    background: #4F8BFF;
}
.Reject{
    background: #F93232;
}